.navbar{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}
body {

    margin: 0px;
}
.navbar a {
    color: white;
    font-size: x-large;
    text-decoration: underline;
}
.navbar a:hover {
color: blue;
}
.kokos {
    display: flex;
    justify-content: space-evenly;
}
.mainpage {
    margin-top: 190px;
}
.nasesluzby {
    background-color: black;
    color: white;
    padding: 32px;
}