.loginPage{
    display: flex;
    justify-content: center;

}

.loginContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50vh;
 
    padding: 5vh;
 
    padding-inline: 5vh;
 
    border-radius: 2.5vh;
 
    box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px;

}
.loginInput{
    margin-bottom: 2hv;
    max-height: 5hv;

}
.loginButton{
    min-height: 6hv;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3hv;
}
.loginButton :hover{
    cursor: pointer;
    box-shadow: rgb(0, 151, 75);
}
