.rowContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 45px;
    
}
.card {
    border: solid 2px black !important;
    border-radius: 0px !important;
    box-shadow: 5px 10px #888888;
    
}

.card-body a {
    background-color: green !important;
    border: solid .1px green !important;
    width: 200px;
    display: block;
    margin: auto;
}
.checked {
    color: rgb(255, 123, 0);
}

.leftMenu {
    display: flex;
    flex-direction: column;
    padding: 45px;
    border:solid ; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    


}
.leftMenu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    text-decoration:underline ;
    font-size: x-large;
    border-radius: 10px;
  
    
    
}
.leftMenu :hover{
    background-color:blue ;
    color: rgb(255, 255, 255);
}

.globalContainer {
    display: flex;
  
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    background-color: red;
    margin: auto;
}


ul{
    list-style: none;
} 



.footer {
    background-color: #24262b;
    padding: 70px 0;
}
