body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
   
  .clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 10px solid #333;
    border-radius: 50%;
  }
   
  .hour-hand,
  .minute-hand,
  .second-hand {
    position: absolute;
    background-color: #333;
    border-radius: 5px;
  }
   
  .hour-hand {
    width: 5px;
    height: 50px;
    top: 50px;
    left: 97.5px;
    transform-origin: 50% 100%;
  }
   
  .minute-hand {
    width: 3px;
    height: 70px;
    top: 30px;
    left: 98.5px;
    transform-origin: 50% 100%;
  }
   
  .second-hand {
    width: 1px;
    height: 80px;
    top: 20px;
    left: 99.5px;
    transform-origin: 50% 100%;
  }
   
  .center-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    top: 95px;
    left: 95px;
  }
  .vrba{
    display: flex;
    justify-content: space-around;
  }

